In [1]:
import pandas as pd
import numpy as np
import numpy_financial as npf
from result_export import generate_html

In [2]:
# Sample data
# Set discount rate
discount_rate = 0.05
initial_cost = 600
annual_cost = 30
annual_revenue = 279

# Set initial discount rate and annual cost
data = {
    'Period': list(range(0, 21)),
    'Cash Inflows': [0] + [annual_revenue]*20,
    'Cash Outflows': [initial_cost] + [annual_cost]*20,
}

# Create DataFrame
cash_flows = pd.DataFrame(data)


# Calculate Present Value of Cash Inflows and Outflows
cash_flows['PV Cash Inflows'] = cash_flows['Cash Inflows'] / (1 + discount_rate) ** cash_flows['Period']
cash_flows['PV Cash Outflows'] = cash_flows['Cash Outflows'] / (1 + discount_rate) ** cash_flows['Period']

# Calculate Net Cash Flow
cash_flows['Net Cash Flow'] = cash_flows['Cash Inflows'] - cash_flows['Cash Outflows']

# Calculate Discounted Cash Flow (DCF)
cash_flows['Discounted Cash Flow'] = cash_flows['Net Cash Flow'] / (1 + discount_rate) ** cash_flows['Period']

# Calculate NPV
NPV = cash_flows['Discounted Cash Flow'].sum()

# Calculate ROI considering the discount rate
total_pv_inflows = cash_flows['PV Cash Inflows'].sum()
total_pv_outflows = cash_flows['PV Cash Outflows'].sum()
ROI = (total_pv_inflows - total_pv_outflows) / total_pv_outflows

# Calculate BCR
BCR = total_pv_inflows / total_pv_outflows

# Calculate IRR
cash_flows_list = cash_flows['Net Cash Flow'].tolist()
IRR = npf.irr(cash_flows_list)

In [3]:
# Create example DataFrames
date_range = pd.date_range(start='2024-01-01', periods=72, freq='H')

price_df = pd.DataFrame({
    'time': date_range,
    'arb_energy_price': range(100, 172),
    'reg_up_price': range(50, 122),
    'reg_down_price': range(25, 97),
    'cres_capacity_price': range(75, 147),
})

result_df = pd.DataFrame({
    'time': date_range,
    'net_discharge': range(-50, 22),
    'reg_up': range(-25, 47),
    'reg_down': range(1, 73),
    'cres': range(26, 98),
    'soc_percent': [x/100.0 for x in range(50, 122)],
})

# Convert DataFrames to JSON
price_data = price_df.to_json(orient='records', date_format='iso')
result_data = result_df.to_json(orient='records', date_format='iso')
filename = 'dashboard'

In [4]:
generate_html(filename, initial_cost, annual_cost, annual_revenue, price_data, result_data, discount_rate)

HTML file generated:dashboard.html

In [5]:
price_df

,time,arb_energy_price,reg_up_price,reg_down_price,cres_capacity_price
0,2024-01-01 00:00:00,100,50,25,75
1,2024-01-01 01:00:00,101,51,26,76
2,2024-01-01 02:00:00,102,52,27,77
3,2024-01-01 03:00:00,103,53,28,78
4,2024-01-01 04:00:00,104,54,29,79
...,...,...,...,...,...
67,2024-01-03 19:00:00,167,117,92,142
68,2024-01-03 20:00:00,168,118,93,143
69,2024-01-03 21:00:00,169,119,94,144
70,2024-01-03 22:00:00,170,120,95,145
71,2024-01-03 23:00:00,171,121,96,146